@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to prevent layout shift from scrollbar */
html {
  scrollbar-gutter: stable;
}

/* Optional: If you want to style the scrollbar to be less obtrusive */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--background));
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--muted-foreground) / 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--muted-foreground) / 0.5);
}

@layer base {
  :root {
    --success: 106 47% 64%;
    --success-foreground: 0 0% 18%;
    --warning: 37 85% 72%;
    --warning-foreground: 0 0% 18%;
    --info: 276 41% 61%;
    --info-foreground: 0 0% 18%;
    --destructive: 0 82% 68%;
    --destructive-foreground: 0 0% 18%;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 96%;
    --input: 0 0% 96%;
    --ring: 0 0% 0%;
    --radius: 1rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 60%;
    --accent: 0 0% 10%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 10%;
    --input: 0 0% 10%;
    --ring: 0 0% 100%;
  }

  html {
    @apply scroll-smooth antialiased;
  }

  body {
    font-family: 'Inter Variable', sans-serif;
    @apply bg-background text-foreground;
  }

  * {
    @apply border-border;
  }
}
