ADMIN_EMAILS=admin@example.com,admin2@example.com
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox

# generated with node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
ENCRYPTION_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=
